{% extends 'base_logged_in.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'cyberXapp/base_style.css' %}">
<link rel="stylesheet" href="{% static 'cyberXapp/styles_logged_in/computers_style.css' %}">
{% endblock styles %}
{% block titulo %}CyberX{% endblock titulo %}
{% block contenido %}
<main>

    <section>
        
        <section class="computer-details-container-section">
            <div class="table-row-div">
                <section class="property-1table-header-row">
                <div class="table-cell-div">
                    <b class="table-header-cell">Nombre</b>
                </div>
                <div class="table-cell-div">
                    <b class="table-header-cell">Compañia</b>
                </div>
                <div class="table-cell-div">
                    <b class="table-header-cell">Tipo Computador</b>
                </div>
                <div class="table-cell-div">
                    <b class="table-header-cell">Numero Modelo</b>
                </div>
                <label class="table-cell-label"
                ><b class="table-header-cell">Serie</b></label
                >
                <div class="table-cell-div"><b class="table-header-cell">RAM</b></div>
            </section>
            
            {% for computer in computers %}
            
            <div class="property-1table-normal-row">
                <div class="table-cell-div5">
                    <div class="table-header-cell">{{ computer.name }}</div>
                </div>
                <div class="table-cell-div5">
                    <div class="table-header-cell">{{ computer.company }}</div>
                </div>
                <div class="table-cell-div5">
                    <div class="table-header-cell">{{ computer.computer_type }}</div>
                </div>
                <div class="table-cell-div5">
                    <div class="table-header-cell">{{ computer.modal_No }}</div>
                </div>
                <div class="table-cell-div5">
                    <div class="table-header-cell">{{ computer.computer_series }}</div>
                </div>
                <div class="table-cell-div5">
                    <div class="table-header-cell">{{ computer.computer_ram }}</div>
                </div>
            </div>
            
            {% endfor %}
        </section>
        <a href="{% url 'add_editComputer' %}">add</a>
    </section>
</main>
    
        
{% endblock contenido %}